@model projeto_gamer.Views.Login.Login

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post" action='@Url.Action("Login")'>

    <input type="email" name="Email">
    <input type="password" name="Password">

    <button type="submit">Login</button>

</form>