@model Player

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger">@TempData.Peek("Message")</div>
}

<form method="post">

    <input type="email" name="email" required>
    <input type="password" name="password" required>
    <button type="submit">Login</button>

</form>